.header {
  background-color: #f6f8f9;

  &__search-container {
    display: flex;
    border-radius: 2rem;
    background-color: white;

    &__input {
      width: 95%;
      border: none;
      border-top-left-radius: 2rem;
      border-bottom-left-radius: 2rem;
      padding: 2px 10px;

      &:focus {
        outline: none;
      }
    }

    &__icon {
      padding-top: 2px;
      text-align: center;
      width: 5%;
      background-color: #0b5eba;
      color: white;
      border-radius: 2rem;
      cursor: pointer;

      &:hover {
        background-color: #0e4a8f;
      }
    }
  }

  &__lang {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;

    &__item {
      width: 3rem;
      text-align: center;
      border: solid 1px #494b4d;
      border-radius: 2rem;
      padding: 1px 10px;
      cursor: pointer;

      &:hover {
        background-color: #494b4d;
        color: white;
      }
    }

    .active {
      border: none;
      background-color: #0e4a8f;
      color: white;

      &:hover {
        background-color: #494b4d;
      }
    }
  }
}
